<app-semaine-planifiee (retourListe)="retourListe()" [semainesPlanifiees]="semainesPlanifiees"
    *ngIf="state == 'nouvelleSemaine'"></app-semaine-planifiee>

<div *ngIf="state == 'listeSemaines'">
    <p>Liste de semaines planifiées</p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action list-tache-item"
            (click)="afficherJourneesPlanifiees(semainePlanifiee.semainePlanifieeID!)"
            *ngFor="let semainePlanifiee of semainesPlanifiees">{{semainePlanifiee.dateDebut | date : 'mediumDate' :
            '+0000': 'fr'}}</li>
    </ul>
</div>

<app-journees-planifiees (retourListeSemaines) = "retourListe()" [semainePlanifieeID]='semainePlanifieeID' *ngIf="state == 'journees'">
</app-journees-planifiees>

<div class="container">
    <div class="row">
        <button class="btn btn-primary col-10 col-sm-6 col-lg-4 m-auto" id="planifierSemaine" *ngIf="state == 'listeSemaines'"
            (click)="planifierSemaine()">Planifier une nouvelle semaine</button>
    </div>
</div>