<div>
    <form class="container">
        <label for="disponibilite.journee">Journée:</label>
        <select class="form-select" id="jourSemaine" [(ngModel)]="disponibilite.journee" name="disponibilite.journee">
            <option value="0">Dimanche</option>
            <option value="1">Lundi</option>
            <option value="2">Mardi</option>
            <option value="3">Mercredi</option>
            <option value="4">Jeudi</option>
            <option value="5">Vendredi</option>
            <option value="6">Samedi</option>
        </select><br />
        <label for="disponibilite.heureDebut">Heure de début:</label>
        <select class="form-select" id="heureDebut" [(ngModel)]="disponibilite.heureDebut" name="disponibilite.heureDebut" (change)="validerHeures()">
            <option *ngFor="let heure of heuresDebut" value="{{heure.value}}">{{heure.name}}</option>
        </select><br />
        <label for="disponibilite.heureFin">Heure de Fin:</label>
        <select class="form-select" id="heureFin" [(ngModel)]="disponibilite.heureFin" name="disponibilite.heureFin" (change)="validerHeures()"
            [ngClass]="{redBorder : !isValide}">
            <option *ngFor="let heure of heuresFin" value="{{heure.value}}">{{heure.name}}</option>
        </select><br />
        <button class="btn btn-primary" id="btnAccepter" (click)="ajouterDisponibilite()">Accepter</button>
    </form>
</div><br />