<label for="horaireDisponibilites.nom">Nom de l'horaire:</label><input class="form-control" id="nomHoraire"
    [(ngModel)]="horaireDisponibilites.nom" name='horaireDisponibilites.nom'
    [ngClass]="{'redBorder': !isNomValide}" /><br /><br />

<app-disponibilite *ngIf='state == "disponibilite"' [disponibiliteID]="disponibiliteID"
    (ajouterNouvelleDisponibilite)="ajouterNouvelleDisponibilite($event)">
</app-disponibilite>

<p>Liste de disponibilités</p>
<div class="container">
    <div class="row">
        <button class="btn btn-success col-10 col-sm-6 col-lg-4 m-auto" id="btnDisponibilite" (click)="ajouterDisponibilite()">
            Ajouter Disponibilite
        </button>
    </div>
</div>
<div *ngFor='let disponibilite of horaireDisponibilites.disponibilites'>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action list-tache-item">
            <p>Journée: {{NOM_JOURNEES[disponibilite.journee!]}}</p>
            <p>Heure de début:{{HEURES[disponibilite.heureDebut! *
                4]}}</p>
            <p>Heure de fin:{{HEURES[disponibilite.heureFin! * 4]}}</p>
            <p>Durée
                disponible:{{duree(disponibilite)}} heures</p>
            <br /><button class="btn btn-success m-1"
                (click)="afficherDisponibilite(disponibilite.disponibiliteID!)">Modifier</button>
            <button class="btn btn-danger m-1"
                (click)="supprimerDisponibilite(disponibilite.disponibiliteID!)">Supprimer</button>
        </li>
    </ul>
</div>
<p>Total:{{horaireDisponibilites.disponibilites!.length}}</p>

<button class="btn btn-primary" id="accepter"
    *ngIf="horaireDisponibilitesID == -1 && horaireDisponibilites.disponibilites!.length > 0"
    (click)="ajouterHoraire()">Accepter nouvel horaire</button>
<button class="btn btn-primary m-1" *ngIf="horaireDisponibilitesID != -1"
    (click)='enregistrerHoraire()'>Enregistrer</button>
<button class="btn btn-danger m-1" *ngIf="horaireDisponibilitesID != -1" (click)='supprimerHoraire()'>Supprimer</button>