/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    margin: 0;
}

#header {
    height: 8%;
    border-bottom: solid black 2px;
}

#footer {
    display: flex;
    height: 8%;
    border-top: solid black 2px;
}

#backBtn {
    margin-left: 1.5%;
}

.center {
    text-align: center;
}

.list-tache-item {
    margin-left: 2%;
    margin-right: 2%;
}

/* Pour qu'il n'y ait pas d'overflow */
.list-group {
    width: 96%;
    margin-top: 2%;
    margin-bottom: 2%;
}